@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/images/background4.png");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  
}

.blog h1 {
  @apply text-4xl;
  @apply font-bold;
}
.blog h2 {
  @apply text-3xl;
  @apply font-bold;
}
.blog h3 {
  @apply text-2xl;
  @apply font-bold;
}
.blog h4 {
  @apply text-xl;
  @apply font-semibold;
}
.blog h5 {
  @apply text-lg;
  @apply font-semibold;
}
.blog h6 {
  @apply text-sm;
  @apply font-semibold;
}

.blog ul {
  @apply list-disc;
  @apply font-semibold;
  @apply pl-5
}


.blog ol {
  @apply list-decimal;
  @apply font-semibold;
  @apply pl-5
}



