.admin{
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

}

.pageTitle{
    grid-row: 1;
    grid-column: span 6/12;
}
.articleProps{
    grid-column: 6/12;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.articleProps form {
    display: flex;
    flex-direction: column;
 
}

.adminEditor {
    grid-column: 6/12;
    grid-row: 3;
    padding: 10px;
}

.blog {
    margin-top: 10px;
}

.blog::after{
    content:'';
    height: 2px; 
    margin-top: 20px;
    background: linear-gradient(to left, transparent, black, transparent);
}

.blog h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  .blog h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  .blog h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  .blog h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  .blog h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  .blog h6 {
    @apply text-sm;
    @apply font-semibold;
  }
  
  .blog ul {
    @apply list-disc;
    @apply font-semibold;
    @apply pl-5
  }
  
  
  .blog ol {
    @apply list-decimal;
    @apply font-semibold;
    @apply pl-5
  }
  


  