
.blogListItem{
    padding-bottom: 10px;
    display: flex;
    flex: row;
    width: 100%;
   
}

.blogListImage{
    margin-right: 10px;
    border-radius: 5px;
}

.blogListDetail {
    border-radius: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.blog h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  .blog h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  .blog h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  .blog h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  .blog h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  .blog h6 {
    @apply text-sm;
    @apply font-semibold;
  }
  
  .blog ul {
    @apply list-disc;
    @apply font-semibold;
    @apply pl-5
  }
  
  
  .blog ol {
    @apply list-decimal;
    @apply font-semibold;
    @apply pl-5
  }
  

