
.blogListItem{
    padding-bottom: 10px;
    display: flex;
    flex: row;
    width: 100%;
   
}

.blogListImage{
    margin-right: 10px;
    border-radius: 5px;
}

.blogListDetail {
    border-radius: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.blogPage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 80vh 1fr;
}
.blogArticle {
    grid-row: 2;
    grid-column: 5/12;
    margin-bottom: 25px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.blogArticle h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  .blogArticle h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  .blogArticle h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  .blogArticle h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  .blogArticle h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  .blogArticle h6 {
    @apply text-sm;
    @apply font-semibold;
  }
  
  .blogArticle ul {
    @apply list-disc;
    @apply font-semibold;
    @apply pl-5
  }
  
  
  .blogArticle ol {
    @apply list-decimal;
    @apply font-semibold;
    @apply pl-5
  }
  

