.content {
    position: relative;
    overflow-y: auto;
    padding-right:10px;
    height:80vh;
    width:100%
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .scrollIndicator {
    margin-top: 25%;
  }

  .contentTitle{
    display: flex;
    align-items: center;

  }
  .contentTitleInner {
    height:100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
  }