.hero {
    background-image: url('/images/background.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    top:0px;
    width: 100%;
   
}

.profile { 
    padding-top: 25%;
    grid-column: 9/13;
}

.highlightText{
    color: #3d51ff
}


.profilePic {
    max-width:300px;
    max-height: 300px;
    width:100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    padding:10px;
    
/*     box-shadow: 2px 2px 8px, 4px 4px #dcdfe0; */
}

