.sidebar {
  width: 150px;
  position: fixed;
  left: 0;
  z-index: 999;  
  color: white;
  background-color: rgba(0,0,0,0.8);
  padding: 15px;
  min-height: 100vh;
}

.nav {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav li {
    padding:20px;
    text-align: center;
    position: relative;
 
}

.navLink {
  color: white;
  text-decoration: none;
  
}

.navLink::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Height of the border */
    background: linear-gradient(to left, transparent, white, transparent);
}
