.sidebar {
  width: 150px;
  position: fixed;
  left: 0;
  z-index: 999;  
  color: white;
  background-color: rgba(0,0,0,0.8);
  padding: 15px;
  min-height: 100vh;
}

.nav {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav li {
    padding:20px;
    background-color: rgba(209,209,194,0.5); 
    text-align: center;
    border-radius: 10px;
    border: white solid 2px;
}

.navLink {
  color: white;
  text-decoration: none;
  padding-top: 25px;
}
